 *{
  background-color: rgb(0, 217, 255);
}
img {
  height: 450px;
  width: 900px;
  margin-left: 20%;
  } 
  h1,h3,h4,h5,h6{
    background-color: rgb(131, 167, 167);
    padding-left: 40%;
  font-style: italic;
  font-weight: .10em;
  line-height: 200%;
  }
  button {
background-color: rgb(16, 150, 98);
  }
  audio{
   background-color: rgb(0, 255, 128);
  }
  .flex-container {
display: flex;
flex-wrap: wrap;
background-color: DodgerBlue;
  }
  .flex-container > div {
    background-color: #29808b;
    margin: 30px;
    padding: 5px;
    font-size: 10px;
    padding-left: 1%;
    border: 3px;
    color:black
    line-height: 300%;
    line-break: auto;
    flex: 1 0 5%;
    font-style: initial;
  }
  
